.container {
  max-width: 960px;
  margin: 0 auto;
}

.SignUp-bg {
  height: 100vh;
  background: url(/src/component/auth/38.png) no-repeat;
  background-size: cover;
  
}

.SignUp-con {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.SignUp-text {
  color: #1776CF;
  text-align: right;
}


.SignUp-text2 {
  color: #888888;
  text-align: right;

}







.SignUp-btn {
  background: #fff;
  display: inline-block;
  padding: .5rem 1rem;
  text-decoration: none;
  color: #333;
  border: 2px solid transparent;
  transition: 0.3s;
  margin-top: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}
.SignUp-btn:hover {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .Login-text {
      padding: 0 2rem;
  }
  .Login-bg {
      height: 1000px;
      background: url(/src/component/Group38.png) no-repeat;
      background-size: 500px;
      overflow: hidden;
      background-position-x: -50px;
      background-position-y: 90px;
      
  }
}

