.container {
    max-width: 960px;
    margin: 0 auto;
}

.home-bg {
    height: 1000px;
    background: url(/src/component/Group21.png) no-repeat;
    background-size: 1300px;
    overflow: hidden;
    background-position-x: 120px;
    background-position-y: 90px;
    
}
.home-con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.home-text {
    color: #fff;
    text-align: center;
}
.home-btn {
    background: #fff;
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #333;
    border: 2px solid transparent;
    transition: 0.3s;
    margin-top: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}
.home-btn:hover {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .home-text {
        padding: 0 2rem;
    }
    .home-bg {
        height: 1000px;
        background: url(/src/component/Group38.png) no-repeat;
        background-size: 500px;
        overflow: hidden;
        background-position-x: -50px;
        background-position-y: 90px;
        
    }
}

